---
interface Props {
  number?: number;
  variant?: "filled" | "empty";
}

const { number = 1, variant = "empty" } = Astro.props;

const classes = {
  filled: "text-white before:rounded-3xl before:inset-0 before:bg-blue-200",
  empty: "text-yellow-200",
};
---

<div
  class="mt-10 sm:mt-20 min-h-[calc(4rem+7cqw)] relative text-[clamp(3.4rem,11cqw,5rem)]"
>
  <div
    class:list={[
      classes[variant],
      "font-heading -rotate-5 absolute -top-[.29lh] -left-[.14lh] before:absolute before:-z-1",
    ]}
  >
    {number + "."}
  </div>
  <h2 class="relative text-[40%] font-secondary font-medium ml-[1lh]">
    <slot />
  </h2>
</div>
