---
import CircleButton from "@/shared/ui/circle-button";
---

<section
  class="py-40 grid place-items-center cursor-pointer relative max-w-[min(26rem,80cqw)] m-auto"
>
  <p class="z-10 font-heading text-xl sm:text-3xl xl:text-4xl text-center">
    See the appeal?
  </p>
  <div
    aria-hidden="true"
    class="absolute inset-x-0 h-16 rotate-11 rounded-full bg-gray-300 after:absolute after:inset-0 after:bg-red-300 after:rounded-full after:-rotate-22"
  >
  </div>
  <CircleButton className="absolute -left-[1rem] z-20" variant="accent-1" />
  <CircleButton className="absolute -right-[1rem] z-20" variant="accent-2" />
</section>
