@import "tailwindcss";

@theme {
  --font-heading: "IBM Plex Mono", "sans-serif";
  --font-primary: "Inter", "sans-serif";
  --font-secondary: "Geist Mono", "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));
