---
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/500.css";
import "@fontsource/geist-mono/400.css";
import "@fontsource/geist-mono/500.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";

import "@/styles/global.css";

import Header from "@/widgets/header/ui/header.astro";
import Footer from "@/widgets/footer/ui/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rememorator</title>
    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
    </script>
  </head>
  <body class="transition-colors dark:bg-gray-700">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
