---
import ThemeToggleButton from "@/features/theme-toggle/ui/theme-toggle-button.astro";
import Button from "@/shared/ui/button/button.astro";
import Container from "@/shared/ui/container/container.astro";
---

<header class="pt-3 dark:bg-black">
  <Container>
    <div class="flex items-center justify-between">
      <a class="font-heading text-3xl 2xl:text-7xl flex" href="/">
        <span>Re</span>
        <span class="text-gray-200">memo</span>
        <span>rator</span>
      </a>
      <div class="items-center gap-18 hidden xl:flex">
        <Button circle variant="light">en</Button>
        <ThemeToggleButton />
        <div class="flex gap-4">
          <Button variant="light">log in</Button>
          <Button variant="dark">sign in</Button>
        </div>
        <div>
          <Button class="text-4xl" circle variant="blue" size="medium">
            An
          </Button>
          <nav></nav>
        </div>
      </div>
      <div class="xl:hidden">
        <Button class="text-4xl" circle variant="blue" size="regular">An</Button
        >
      </div>
    </div>
  </Container>
</header>
