---
import ToggleThemeButton from "@/features/theme-toggle/ui/toggle-theme-button";
import SignInButton from "@/widgets/auth/ui/signin-button/signin-button";
import Button from "@/shared/ui/button/button";
import Container from "@/shared/ui/container/container.astro";
---

<header class="pt-3 dark:bg-black">
  <Container>
    <div class="flex items-center justify-between">
      <a class="font-heading text-3xl 2xl:text-7xl flex" href="/">
        <span>Re</span>
        <span class="text-gray-200">memo</span>
        <span>rator</span>
      </a>
      <div class="items-center gap-18 hidden xl:flex">
        <Button circle variant="light">en</Button>
        <ToggleThemeButton client:idle />
        <div class="flex gap-4">
          <SignInButton client:idle />
        </div>
        <div>
          <Button className="text-4xl" circle variant="blue" size="medium">
            An
          </Button>
        </div>
      </div>
      <div class="xl:hidden">
        <Button className="text-4xl" circle variant="blue" size="regular">
          An
        </Button>
      </div>
    </div>
  </Container>
</header>
