---
import CircleButton from "@/shared/ui/circle-button";
import HeaderButtons from "@/widgets/header/ui/buttons";
import HeaderMenuButton from "@/widgets/header/ui/menu/button";
import Container from "@/shared/ui/container/container.astro";

// make header sticky
---

<header class="sticky top-0 z-100 pt-3">
  <Container>
    <div class="flex items-center justify-between">
      <a
        class="font-heading flex text-3xl 2xl:text-7xl"
        href="/"
        aria-label="Home"
      >
        <span class="transition-colors dark:text-gray-200">Re</span>
        <span class="text-gray-300 transition-colors dark:text-blue-400"
          >memo</span
        >
        <span class="transition-colors dark:text-gray-200">rator</span>
      </a>
      <div class="hidden items-center gap-18 xl:flex">
        <HeaderButtons client:idle />
        <CircleButton variant="accent-1" size="medium">An</CircleButton>
      </div>
      <div class="relative z-1 xl:hidden">
        <HeaderMenuButton client:idle />
      </div>
    </div>
  </Container>
</header>
