---
import CircleButton from "@/shared/ui/circle-button";
import HeaderButtons from "@/widgets/header/ui/buttons";
import HeaderMenuButton from "@/widgets/header/ui/menu/button";
import Container from "@/shared/ui/container/container.astro";

// make header sticky
---

<header class="pt-3 dark:bg-black">
  <Container>
    <div class="flex items-center justify-between">
      <a
        class="font-heading text-3xl 2xl:text-7xl flex"
        href="/"
        aria-label="Home"
      >
        <span>Re</span>
        <span class="text-gray-200">memo</span>
        <span>rator</span>
      </a>
      <div class="items-center gap-18 hidden xl:flex">
        <HeaderButtons client:idle />
        <CircleButton variant="accent-1" size="medium">An</CircleButton>
      </div>
      <div class="relative z-1 xl:hidden">
        <HeaderMenuButton client:idle />
      </div>
    </div>
  </Container>
</header>
