---
import FeedHeading from "@/shared/ui/feed-heading/feed-heading.astro";
import AppealVote from "@/widgets/appeal-vote/ui/appeal-vote.astro";
---

<article
  class="@container bg-gray-100 -mx-5 sm:mx-0 px-6 xl:px-12 max-w-[70rem] rounded-4xl mt-55 mb-30"
>
  <h1
    class="font-heading underline ml-6 xl:ml-0 text-5xl xl:text-7xl text-gray-500 relative -top-9"
  >
    The Why
  </h1>
  <article>
    <FeedHeading variant="filled">It is useful</FeedHeading>
    <p class="font-primary text-lg/8 md:text-xl/8 text-gray-600">
      Rememorator helps your mind stay focused on other tasks while it is
      focused on your food storage. It is your personal food assistant or some
      shit like that.
    </p>
  </article>
  <hr class="text-gray-200 mt-10" />
  <article>
    <FeedHeading number={2}>It is useful <br /> Hello</FeedHeading>
    <p class="font-primary text-lg/8 md:text-xl/8 text-gray-600">
      Rememorator helps your mind stay focused on other tasks while it is
      focused on your food storage. It is your personal food assistant or some
      shit like that.
    </p>
  </article>
  <AppealVote />
</article>
